<HTML>
    <BODY bgcolor="white">
    <form method="POST" action="/character_edit.html">
        <center>
        
        <img src="static/style/add_character.png" alt="Character Details" width="300" height="90"><br>

        <H2>Main Details</H2>

        First Name: <input type = "text" name= "FirstName" required/> <br>
        Surname: <input type = "text" name= "Surname" required/> <br>
        
        <label for="race_pick">Select Your Race:</label>
        <select id="race_pick" name="race_pick">
            {% for item in data %}
            <option value="{{ item[0] }}">{{item[0]}}</option>
            {% endfor %}
        </select><br>

        <label for="class_pick">Select Your Class:</label>
        <select id="class_pick" name="class_pick">
            {% for item in data1 %}
            <option value="{{ item[0] }}">{{item[0]}}</option>
            {% endfor %}
        </select><br>

        <label for="alignment_pick">Select Your Alignment:</label>
        <select id="alignment_pick" name="alignment_pick">
            {% for item in data2 %}
            <option value="{{ item[0] }}">{{item[0]}}</option>
            {% endfor %}
        </select><br>

        <label for="armour_pick">Select Your Armour:</label>
        <select id="armour_pick" name="armour_pick">
            {% for item in data3 %}
            <option value="{{ item[0] }}">{{item[0]}}</option>
            {% endfor %}
        </select><br>

        <label for="protection_pick">Select Your Protection:</label>
        <select id="protection_pick" name="protection_pick">
            {% for item in data4 %}
            <option value="{{ item[0] }}">{{item[0]}}</option>
            {% endfor %}
        </select><br><br>

        <H2>Stats</H2>

	Level: <input type = "number" name = "Level" min="1" max="10" value="1" style="width:50px" required/> <br>
        Strength: <input type = "number" name = "Strength" min="1" max ="6" value="1" style="width:50px" required/> <br>
        Brawn: <input type = "number" name = "Brawn" min="1" max="6" value="1" style="width:50px" required/> <br>
        Agility: <input type = "number" name = "Agility" min="1" max="6" value="1" style="width:50px" required/> <br>
        Mettle: <input type = "number" name = "Mettle" min="1" max="6" value="1" style="width:50px" required/> <br>
        Craft: <input type = "number" name = "Craft" min="1" max="6" value="1" style="width:50px" required/> <br>
        Insight <input type = "number" name = "Insight" min="1" max="6" value="1" style="width:50px" required/> <br>
        Wits: <input type = "number" name = "Wits" min="1" max="6" value="1" style="width:50px" required/> <br>
        Resolve: <input type = "number" name = "Resolve" min="1" max="6" value="1" style="width:50px" required/> <br>
        Life: <input type = "number" name = "Life" min="1" max="50" value="1" style="width:50px" required/> <br>
        
        </br>
        
        <input type = "submit" name="submit" value="Add Character"><br>
        <input type = "submit" name="cancel" value="Cancel" formnovalidate>
        
        
		</center>
    </form>
    </BODY>
    </HTML>
