<HTML>
    <BODY bgcolor="white">
    <form method="POST" action="/">
        <center>
        
        <img src="static/style/add_character.png" alt="Character Details" width="300" height="90"><br>

        Name <input type = "text" name= "Name: " /> <br>
        Race <input type = "text" name= "Race: " /> <br>
        Class <input type = "text" name= "Class: " /> <br>
        Age <input type = "text" name = "Age: " /> <br>
        Shield <input type = "text" name = Shield /><br>
        Helm <input type = "text" name = "Helm" /><br>
        
        </br>
        
        <input type = "submit" name="submit" value="Add Character">
        <input type = "submit" name="cancel" value="Cancel">
        
        
		</center>
    </form>
    </BODY>
    </HTML>