<HTML>
    <BODY bgcolor="white">
    <form method="POST" action="/">
        <center>
        <!-- <H1>Cariryn Enterprise</H1> <br> -->
        
        <img src="static/style/char_details.png" alt="Character Details" width="300" height="90"><br>

        <input type = "submit" name="viewcharacter" value="View Characters"> <br>
        <input type = "submit" name="viewitems" value="View Items"><br>
        <input type = "submit" name="viewencounters" value = "View Encounters"><br>
        <input type = "submit" name="viewnpclife" value = "View NPC"><br>
        <br><br><br><br>

        <img src="static/style/game_sett.png" alt="Game Settings" width="300" height="90"><br>

        <input type = "submit" name="characteroptions" value="Create Character"><br>
        <input type = "submit" name="additems" value="Items"><br>
        <input type = "submit" name="addencounters" value="Add Encounter"><br>

		</center>
    </form>
    </BODY>
    </HTML>