<HTML>
    <style>
        table, th, td {
        border: 1px solid black;
        }
        th {
        text-align: left;
        }
        </style>

    <BODY bgcolor="white">
    <form method="POST" action="/item.html">
        <center>
        
        <img src="static/style/item.png" alt="Add a Item" width="300" height="90"><br><br>

        <H2>Game Settings</H2>
        <input type = "submit" name="inventory" value="Add Items to Inventory"><br>
        <input type = "submit" name="inv_remove" value="Remove Item from Inventory"><br><br><br>

        <H2>Database Settings</H2>
        <input type = "submit" name="database" value="Add Item to Database"><br><br><br>
        <input type = "submit" name="exit" value="Back">

		</center>
    </form>
    </BODY>
    </HTML>