<HTML>

    <style>
        table, th, td {
        border: 1px solid black;
        }
        th {
        text-align: left;
        }
        </style>

    <BODY bgcolor="white">
    <form method="POST" action="/pick_encounter.html">
        <center>
  
        <img src="static/style/encounters.png" alt="Item" width="300" height="90"><br><br>

        <input type = "submit" name="spider" value="Giant Spider"><br><br>
        <input type = "submit" name="all" value="All Encounters"><br><br>


        <input type = "submit" name="Back" value="Back">
        

		</center>
    </form>
    </BODY>
    </HTML>