<HTML>

    <style>
        table, th, td {
        border: 1px solid black;
        }
        th {
        text-align: left;
        }
        </style>

    <BODY bgcolor="white">
    <form method="POST" action="/remove_item_item.html">
        <center>
  
        <img src="static/style/remove_item.png" alt="Item" width="300" height="90"><br><br>

        <label for="rem_item">Select Item to Remove:</label>
        <select id="rem_item" name="rem_item">
            {% for item in data %}
            <option value="{{ item[0] }}">{{item[0]}}</option>
            {% endfor %}
        </select><br><br>

        <br>
        <input type = "submit" name="remove" value="Confirm Remove"><br><br><br>

        <input type = "submit" name="Back" value="Back">
        

		</center>
    </form>
    </BODY>
    </HTML>