<HTML>
    <style>
        table, th, td {
        border: 1px solid black;
        }
        th {
        text-align: left;
        }
        </style>

    <BODY bgcolor="white">
    <form method="POST" action="/view_item_charpick.html">
        <center>
        
        <img src="static/style/item.png" alt="Item" width="300" height="90"><br><br>

        <label for="character">Select Your Character:</label>
        <select id="character" name="character">
            {% for item in data %}
            <option value="{{ item[0] }} {{item[1]}}">{{item[0]}} {{item[1]}}</option>
            {% endfor %}
        </select><br><br>

        <input type = "submit" name="Select" value="Confirm"><br><br><br>
        <input type = "submit" name="viewallitems" value="View all Items In the Game"><br><br><br>
        <input type = "submit" name="Back" value="Back">

		</center>
    </form>
    </BODY>
    </HTML>