<HTML>

    <style>
        table, th, td {
        border: 1px solid black;
        }
        th {
        text-align: left;
        }
        </style>

    <BODY bgcolor="white">
    <form method="POST" action="/">
        <center>
  
        <img src="static/style/encounters.png" alt="Item" width="300" height="90"><br><br>

        <table>
            <th>Location</th>
            <th>NPC</th>
            <th>Enemy</th>
            <th>Item</th>
            </tr>
        {% for item in data %}
            <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            
            </tr>
        {% endfor %}
        </table>

        <br>

        <input type = "submit" name="Back" value="Back">
        

		</center>
    </form>
    </BODY>
    </HTML>